@charset "UTF-8";
/* CSS Document */

h1{
    text-align:justify;
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h2{
    text-align:justify;
    font-size: 25px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p{
    text-align:justify;
    font-size: 15px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}